/* MOBILE STYLING */

@media (max-width: 999px) {

#name {
	margin: 0px;
	padding: 20px;
	text-align: center;
	font-family: courier new, monospace;
    text-align: left;
    font-size: 20px;
    color: rgb(50, 50, 50);
    font-weight: bold;

}

#contactbar {
    float: top;
    pointer-events: none;
}

#contactbar_container img {
    width: 32px;
    height: 32px;
    margin: 14px;
    pointer-events: auto;
}

#contactbar_container {
    background-color: rgba(250, 250, 250, 0.75);
}

#contactbar {
	height: 75px;
	float: top;
	margin: 0px auto;
	text-align: center;
	z-index: 1000;
    width: 100%;
    background-color: transparent;
    position: fixed;
}

#contactbar_container {
    margin: 0px auto;
    display: flex;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

}

/* DESKTOP STYLING */

@media (min-width: 1000px) {

#name {
	margin: 0px;
	padding: 20px;
	text-align: center;
	font-family: courier new, monospace;
    text-align: left;
    font-size: 50px;
    color: rgb(50, 50, 50);
    font-weight: bold;

}

#contactbar {
    float: top;
    pointer-events: none;
}

#contactbar_container img {
    width: 32px;
    height: 32px;
    margin: 14px;
    pointer-events: auto;
}

#contactbar_container {
    background-color: transparent;
}

#contactbar {
	height: 75px;
	float: top;
	margin: 0px auto;
	text-align: center;
	z-index: 1000;
    width: 100%;
    background-color: transparent;
    position: fixed;
}

#spacer {
	height: 100px !important;
	width: 100%;
}

#contactbar_container {
    margin: 0px auto;
    display: flex;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

}
