#primary {
	font-family: verdana, sans-serif;
    padding: 20px;
}

#contact-header {
	margin: 20px auto;
	text-align: center;
}

.content-container {
	margin: 50px auto !important;
	border-radius: 10px;
	/*border: 1px solid black;*/
	background-color: white;
	box-shadow: 3px 3px 20px darkgrey;
}

.content-container:hover {
	background-color: rgb(250,250,250);
}

.intextlink {
	color: black;
}

@media(min-width:750px) {

	.content-container {
		width: 50%;
		margin: 20px auto;
		border-radius: 5px;
		background-color: white;
		display: flex;
	}

	.content-container img {
		width: 64px;
		height: 64px;
		padding: 20px;
		margin: auto 0px;
	}

	.content-container span {
		padding: 10px;
		vertical-align: center;
		margin: auto 0;
	}

}

@media(max-width:750px) {

	.content-container {
		width: 100%;
		margin: 20px auto;
		border-radius: 5px;
		background-color: white;
	}

	.content-container img {
		width: 64px;
		height: 64px;
		padding: 10px;
		margin: 0 auto;
		display: block;
	}

	.content-container span {
		padding: 10px;
		vertical-align: center;
		margin: 0 auto;
		font-size: 12px;
		display: block;
	}

}
