#footer {
    font-family: Verdana, Geneva, sans-serif;
    background-color: rgb(50, 50, 50);
    height: 125px;
    box-shadow: 0px -8px 16px 0px rgba(0,0,0,0.2);
}

#footer-image {
    width: 75px;
    height: 75px;
    border-radius: 50px;
    margin-right: 25px;
    float: right;
}

/* --- footer contact --- */

#footer-contact-images {
    width: 100%;
    margin: auto;
    margin-left: 25px;
    list-style: None;
    padding-left: 0px;
    float: left;
}

#footer-contact-images a {
    text-decoration: none:
}

#footer-contact-images img {
    margin: 14px;
    width: 34px;
    height: 34px;
}

#contact-linkedin-image {
    margin-right: 5px;
    margin-left: -5px;
}

#contact-github-image {
    margin-left: 5px;
    margin-right: -5px;
}

#contact-email {
    margin: 0 auto;
    padding-top: 40px;
    font-size: 10px;
    text-align: center;
}

/* --- footer sizing and positioning --- */

#footer-left {
    float: left;
    padding: 25px 0px 25px 0px;
    width: 50%;
}

#footer-right { 
    float: right;
    padding: 25px 0px 25px 0px;
    width: 50%;
}

@media(min-width:500px) {


    #centered {
        margin: 0px auto;
        width: 500px;
        color: rgb(255,255,255);
    }

}

@media(max-width:500px) {

    #footer {
        display: none;
    }

}
