/* MOBILE STYLING */

@media (max-width: 999px) {

body {

    background-color: rgb(250, 250, 250);
    margin: 0px;

}

.view-button-small {

    width: 50px;
    height: 50px;
    position: fixed;
    background-color: #ffffff;
    border-style: none;
    box-shadow: 0px 0px 15px 0px #aaaaaa;
    z-index: 1000;
    user-select: none;

}

.view-button-small span {

    line-height: 50px;
    vertical-align: middle;
    display: block;
    margin: auto 0px;
    pointer-events: none;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    text-align: center;

}

.view-button-small img {

    position: absolute;
    width: 20px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: block;
    margin: auto;
    text-align: center;

}

#left_button_area {

    left: 0px;
    top: 50%;
    border-radius: 0px 25px 25px 0px;

}

#right_button_area {

    right: 0px;
    top: 50%;
    border-radius: 25px 0px 0px 25px;

}

#big_button_container {

    display: none;

}

#content_area {

    width: 100%;
    position: absolute;
    pointer-events: none;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow-x: auto;
    overflow-y: none;

}

.content_area_container {

    width: 90vw;
    padding: 100vw 5vw 0vw 5vw;
    display: flex;
    flex-direction: row;
    align-items: stretch;

}

.experience {

    width: 90vw;
    background-color: #ffffff;
    border-radius: 20px 20px 0px 0px;
    border-style: none;
    box-shadow: 0px 0px 15px 0px #aaaaaa;
    pointer-events: auto; 

}

.experience-top {

    box-shadow: 0 15px 15px -15px gray;
    padding: 10px;

}

.experience-inner {

    position: relative;
    padding: 35px;
    color: rgb(50, 50, 50);
    overflow-y: auto;

}

#cy {

    width: 100%;
    height: 100%;
    display: block;
    float: left;
    position: fixed;

}

#cy:hover {

    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;

}

#hello {

    font-size: 20px;
    width: 100%;
    font-family: Helvetica, sans-serif; 
    text-align: center;
    color: rgb(50, 50, 50);
    padding-bottom: 25px;
    font-family: verdana, sans-serif;
    font-weight: bold;

}

.description {

    font-size: 13px;
    font-family: verdana, sans-serif;

}

.description li {

    padding: 5px 0px 5px 0px;

}

ul {

  margin-left: 0.5em;
  padding-left: 0.5em;

}

#platform_transition_link {

    text-decoration: underline;

}

#platform_transition_link:hover {

    cursor: pointer;

}

#headshot {

    width: 50%;
    height: 200px;
    margin: 15px auto;
    position: relative;

}

#see-next {

    display: none;

}

#click-and-drag-container {

    height: 50px;
    bottom: 0px;
    position: fixed;
    pointer-events: none;
    display: none;

}

#click-and-drag {

    font-family: Helvetica, sans-serif;
    padding: 15px;
    bottom: 0px;
    position: fixed;

}

.type {

    font-size: 8px;
    font-family: verdana, sans-serif;

}

.experience-header {

    font-size: 20px;
    font-family: verdana, sans-serif;
    font-weight: bold

}

.experience-location {

    font-size: 10px;
    font-family: verdana, sans-serif;

}

.experience-date {

    font-size: 8px;
    font-family: verdana, sans-serif;

}


}

/* DESKTOP STYLING */

@media (min-width: 1000px) {


body {

    background-color: rgb(250, 250, 250);
    margin: 0px;

}

.first {

    margin-top: 12vh;

}

#left_button_area {
    display: none;
}

#right_button_area {
    display: none;
}

#content_area {

    width: calc(65vw - 50vh);
    min-width: 600px;
    right: 10vw;
    position: absolute;
    pointer-events: none;

}


.view-button-big {

    width: 50px;
    height: 50px;
    border-style: none;
    /*box-shadow: 0px 0px 15px 0px #aaaaaa;*/
    z-index: 1000;
    user-select: none;

}

#up_button_area {

    border-radius: 25px 25px 0px 0px;

}

#down_button_area {

    border-radius: 0px 0px 25px 25px;

}

.view-button-big img {

    width: 34px;
    padding: 8px;
    display: block;
    margin: auto;
    text-align: center;

}

#big_button_container {

    right: calc(10vw - 100px);
    top: calc(50% - 50px);
    height: 100px;
    width: 50px !important;
    position: fixed;
    z-index: 1000;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0px 0px 15px 0px #aaaaaa;

}


.top_container {

    padding-top: 0px !important;

}

.content_area_container {

    width: calc(100% - 11px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: vh;
    padding: 100px 0px 100px 0px;

}

.experience {

    /*min-height: 75vh;*/
    background-color: #ffffff;
    margin: auto 0px;
    border-radius: 50px;
    border-style: none;
    box-shadow: 0px 0px 15px 0px #aaaaaa;
    pointer-events: auto; 
    position: relative;

}

/*
.experience:hover {

    box-shadow: 0px 0px 30px 0px #aaaaaa !important;

}*/

.experience-top {

    box-shadow: 0 15px 15px -15px gray;
    padding: 25px;

}

.experience-inner {

    position: relative;
    padding: 50px;
    color: rgb(50, 50, 50);

}

#cy {

    width: 100%;
    height: 100%;
    display: block;
    float: left;
    position: fixed;

}

#hello {

    font-size: 35px;
    width: 100%;
    font-family: Helvetica, sans-serif; 
    text-align: center;
    color: rgb(50, 50, 50);
    padding-bottom: 25px;
    font-family: verdana, sans-serif;
    font-weight: bold;

}



@media(min-height: 700px) {

    .description {

        font-size: 17px;
        font-family: verdana, sans-serif;
    
    }    

    .experience-header {

        font-size: 35px;
        font-family: verdana, sans-serif;
        font-weight: bold;
    
    }

    .experience-location {

        font-size: 15px;
        font-family: verdana, sans-serif;
    
    }

}

@media(max-height: 700px) {

    .description {

        font-size: 13px;
        font-family: verdana, sans-serif;
    
    }    

    .experience-header {

        font-size: 35px;
        font-family: verdana, sans-serif;
        font-weight: bold;

    }

    .experience-location {

        font-size: 12px;
        font-family: verdana, sans-serif;
    
    }


}

.description li {

    padding: 5px 0px 5px 0px;

}

#platform_transition_link {

    text-decoration: underline;

}

#platform_transition_link:hover {

    cursor: pointer;

}

#headshot {

    width: 50%;
    height: 200px;
    margin: 15px auto;
    position: relative;

}

#see-next {

    font-size: 15px;
    width: 100%;
    text-align: center;
    margin-top: 25px;
    position: absolute;
    padding-bottom: 25px;
    bottom: 0px;
    display: inline-block;
    font-family: verdana, sans-serif;

}

#click-and-drag-container {

    height: 50px;
    bottom: 0px;
    position: fixed;
    pointer-events: none;

}

#click-and-drag {

    font-family: Helvetica, sans-serif;
    padding: 15px;
    bottom: 0px;
    position: fixed;

}

.type {

    font-size: 10px;
    font-family: verdana, sans-serif;

}



.experience-date {

    font-size: 12px;
    font-family: verdana, sans-serif;

}

}

