		#primary {
			padding: 20px;
		}

		.project_desc {
			display: block;
		}

		@media(max-width:750px) {

			#intro {		
				width: 100%;
				margin: 5px auto 50px auto;
				position: relative;
			}
			
			#profile {
				margin: 0 auto;	
				padding: 10px;
				border-radius: 30px;
				width: 60px;
				height: 60px;
				display: block;
			}

			#desc {
				font-family: verdana, sans-serif;
				display: block;
				padding: 10px;
			}

		}

		@media(min-width:750px) {

			#intro {
				width: 50%;
				margin: 50px auto;
				display: flex;
				position: relative;
			}

			#intro a {
				margin: auto 0;
			}

			#profile {
				margin: auto 0;	
				padding: 20px;
				border-radius: 60px;
				width: 60px;
				height: 60px;
			}

			#desc {
				padding: 20px;
				font-family: verdana, sans-serif;
				margin: auto 0;	
			}

            #projects {
                width: 75%;
            }
		}

		.content_container {
			border-radius: 5px;
			/* border: 1px solid black; */
			background-color: white;
			box-shadow: 3px 3px 20px darkgrey;
		}

		.content_container:hover {
			background-color: rgb(250,250,250);
		}

		@media(max-width: 1300px) {
			.project_desc {
				display: none;
			}
		}

		@media(min-width: 1000px) {
			.project_container {
				width: 40%;
				max-height: 175px;
				max-width: 40%;
				min-width: 200px;
				margin: 50px auto;
				display: inline;
				overflow: hidden;
				position: relative;
				text-align: center;
			}

			.project_container:hover {
				max-width: 45%;
				width: 45%;
				margin: 50px auto;
			}
		
			/*
			.project_container a img:hover {
				width: 110%;
				height: auto;
			}*/

		}

		@media(max-width: 1000px) {
			.project_container {
				width: 100%;
				max-height: 175px;
				max-width: 100%;
				min-width: 200px;
				margin: 50px auto;
				display: block;
				overflow: hidden;
				position: relative;
				text-align: center;
			}

			.project_container a img:hover {
				width: 110%;
				height: auto;
			}
			
		}

		.project_name {
			font-family: verdana, sans-serif;
			text-decoration: none;
			color: black;
			font-size: 20px;
			left: 5px;
			position: absolute;
			/* vertically align */
			top: 50%;
			transform: translateY(-50%);
		}
	
		@media(min-width:1000px) {	
			.project-desc-container {
				min-height: 40px;
				position: absolute;
				bottom: 0px;
				width: 100%;
				z-index: 10;
				background-color: rgb(200,200,200,0.5);
			}
		
			.project_desc {
				font-family: verdana, sans-serif;
				text-decoration: none;
				color: black;
				font-size: 15px;
				right: 5px;
				position: absolute;
				/* vertically align */
				top: 50%;
				transform: translateY(-50%);
			}

			.project_container a img {
				vertical-align: top;
				position: relative;
				width: 100%;
				height: auto;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%) ;
			}
		}
		
		@media(max-width:1000px) {	
			.project-desc-container {
				min-height: 40px;
				position: absolute;
				bottom: 0px;
				width: 100%;
				z-index: 1;
				background-color: rgb(200,200,200,0.5);
				display: block;
			}
		
			.project_desc {
				display: none;	
			}

			.project_container a img {
				vertical-align: top;
				position: relative;
				width: 100%;
				height: auto;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%) ;
			}
		}

		#projects {
			max-height 175px;
			margin: 0 auto;
			min-width: 200px;
			width: 50%;
			display: flex;
			text-align: center;
			flex-wrap: wrap;
		}

		#projects_header {
			text-align: center;
			font-family: verdana, sans-serif;
		}

        #projects_header a {
            text-decoration: None;
            color: black;
        }

        #projects_header a:hover {
            text-decoration: underline;
        }
