#primary {
	padding: 20px;
	font-family: verdana, sans-serif;
}

.content-container {
	border-radius: 30px;
	/*border: 1px solid black;*/
	background-color: white;
	box-shadow: 3px 3px 20px darkgrey;
}

.content-container:hover {
	background-color: rgb(250,250,250);
}

#project-name {
	margin: 0 auto;
	padding: 20px 20px 0px 20px;
	text-align: center;
}

#project-name a {
    text-decoration: None;
    color: black;
}

#project-name a:hover {
    text-decoration: underline;
}

#gallery-header {
	margin: 0 auto;
	padding: 20px 20px 0px 20px;
	text-align: center;
}

#no-images {
	display: block;
	color: white;
	margin: auto 0;
	position: relative;
	vertical-align: middle;
	text-align: center;
}

#image-number-container {
	min-height: 40px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 11;
	background-color: rgb(50,50,50,0.5);
	display: block;
}

#image-number {
	position: absolute;
	color: white;
	display: block;
	text-align: center;
	margin: 0 auto;
	z-index: 10;
	padding: 5px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

@media(min-width:750px) {

	#gallery {
		margin: 20px auto;
		width: 600px;
		height: 600px;
		display: flex;
	}

	#image-container {
		height: 600px;
		width: 600px;
		background-color: rgb(50,50,50);
		overflow: hidden;
		position: relative;
		text-align: center;
		display: flex;
	}

	#image-container img {
		width: 100%;
		height: 100%;
		z-index: 10;	
		object-fit: contain;
		display: none;
	}

	.gallery-image-container-show {
		display: block;
		list-style-type: none;
	}

	.gallery-button {
		border-radius: 5px;
		width: 50px;
		background-color: rgb(245,245,245,1);
		outline: none;
		border: none;
	}

	.gallery-button:hover {
		background-color: rgb(255,255,255,1);
	}

	#left-button {
		border-radius: 30px 0px 0px 30px;
		border-right: 1px solid black;		
	}

	#right-button {
		border-radius: 0px 30px 30px 0px;
		border-left: 1px solid black;
	}
}

@media(max-width:750px) {

	#gallery {
		margin: 20px auto;
		width: 100%;
		height: 600px;
		display: flex;
	}

	#image-container {
		height: 100%;
		width: 100%;
		background-color: rgb(50,50,50);
		overflow: hidden;
		position: relative;
		text-align: center;
		vertical-align: middle;
		display: flex;
	}

	#image-container img {
		width: 100%;
		height: 100%;	
		display: none;
		z-index: 10;
		object-fit: contain;
	}

	.gallery-button {
		border-radius: 5px;
		width: 30px;
		background-color: rgb(245,245,245,1);
		outline: none;
		border: none;
	}

	.gallery-button:hover {
		background-color: rgb(255,255,255,1);
	}

	#left-button {
		border-radius: 5px 0px 0px 5px;
		border-right: 1px solid black;		
	}

	#right-button {
		border-radius: 0px 5px 5px 0px;
		border-left: 1px solid black;
	}

    #technical-info {
        max-width: 100%
    }

}

@media(max-width:750px) {
    .content-container {
        width: 100%;
    }
	#intro, #links {
		width: 100%;
		margin: 25px auto 50px auto;
		position: relative;
	}

	#intro a {
		padding: 15px;
	}

	#project-img {
		margin: auto auto;	
		border: 1px solid black;
		border-radius: 20px;
		width: 70px;
		height: 70px;
		display: block;
	}

	#project-desc {
		padding: 20px;
		font-family: verdana, sans-serif;			
		margin: auto 0;
		display: block;
	}
}

@media(min-width:750px) {
	#intro {
		width: 50%;
		margin: 25px auto 50px auto;
		display: flex;
		position: relative;
	}

	#intro a {
		padding: 15px;
		margin: auto 0;
	}

    #links {
        width: 25%;
		margin: 25px auto 50px auto;
		position: relative;
    }

	#project-img {
		margin: auto 0;	
		border: 1px solid black;
		border-radius: 20px;
		width: 70px;
		height: 70px;
	}

	#project-desc {
		padding: 20px;
		font-family: verdana, sans-serif;			
		margin: auto 0;
	}
}

@media(min-width:1100px) {

	#technical-info {
		width: 75%;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
	}

	#download {
		width: 40%;
		max-width: 40%;
		margin: 50px auto;
	}

	#requirements {
		max-width: 40%;
		width: 50%;
		margin: 50px auto;
	}

	#source {
		width: 50%;
		padding: 10px 0px;
		min-height: 60px;
	}

	#precompiled {
		width: 50%;
		padding: 10px 0px;
		min-height: 60px;
	}

	.container-body {
		display: flex;
		flex-wrap: wrap;
	}

	.container-body span {
		display: block;
		text-align: center;
		margin: auto auto;
		vertical-align: center;
	}

	#download a {
		display: block;
		text-align: center;
	}

	.subheader {
		display: block;
		font-size: 25px;
		padding: 20px;
		margin: 0 auto;
		text-align: center;
	}
}

@media(max-width:1100px) {

	#technical-info {
		margin: 0 auto;
		flex-wrap: wrap;
	}

	#download {
		margin: 50px auto;
	}

	#requirements {
		margin: 50px auto;
	}

	#source {
		width: 50%;
		padding: 10px 0px;
		min-height: 60px;
	}

	#precompiled {
		width: 50%;
		padding: 10px 0px;
		min-height: 60px;
	}

	.container-body {
		display: flex;
		flex-wrap: wrap;
	}

	.container-body span {
		display: block;
		text-align: center;
		margin: 0 auto;
		font-size: 15px;
	}

	#download a {
		display: block;
		text-align: center;
	}

	.subheader {
		display: block;
		font-size: 25px;
		padding: 20px;
		margin: 0 auto;
		text-align: center;
	}
}
